@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;800;900&display=swap');

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}

body{
  background-color: black;
  text-align: center;
}

p{
  color: white;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-size: 15px;
}


img{
  width: 100px;
  height: 100px;
}
